# .npmrc

# Forzar que las dependencias se instalen en la raíz, en lugar de en cada carpeta
node-linker=hoisted

# (Opcional) Prefiere siempre las dependencias de la raíz en lugar de las locales
shared-workspace-lockfile=true